<section class="feedback-section">
    <h2>Trusted by businesses, loved by users!</h2>
    <div class="feedback-wrapper">
        <div class="card-container">
            <div>
                <img src="/feedback/alex-hokanson.jpeg" alt="Alex Hokanson image">
                <h3>Alex Hokanson</h3>
                <p><i class="fa-solid fa-quote-left"></i></p>
            </div>
            <p class="feedback-details">Do we like Kanvas? ABSOLUTELY!</p>
            <p class="person-role">Infrastructure Engineering at Docker, Inc.</p>
        </div>
        <div class="card-container">
            <div>
                <img src="/feedback/louie-corbo.jpeg" alt="Louie Corbo image">
                <h3>Louie Corbo</h3>
                <p><i class="fa-solid fa-quote-left"></i></p>
            </div>
            <p class="feedback-details">Kanvas is what the next-generation Operations tooling will look like.</p>
            <p class="person-role">Staff Cloud Infratructure Engineer at SADA</p>
        </div>
        <div class="card-container">
            <div>
                <img src="/feedback/hein.webp" alt="Hein Htet Win image">
                <h3>Hein Htet Win</h3>
                <p><i class="fa-solid fa-quote-left"></i></p>
            </div>
            <p class="feedback-details">Meshery is an innovative tool for managing our multi-cluster and multi-cloud workloads.</p>
            <p class="person-role">Kanvas User</p>
        </div>
        <div class="card-container">
            <div>
                <img src="/feedback/kaur-kallas.webp" alt="Kaur Kallas image">
                <h3>Kaur Kallas</h3>
                <p><i class="fa-solid fa-quote-left"></i></p>
            </div>
            <p class="feedback-details">The fact that Kanvas automatically renders our Kubernetes configuration is a game-changer for our team.</p>
            <p class="person-role">Software Architect at Entigo</p>
        </div>
    </div>

</section>